/* =============== COMMON ============== */

* {
  margin: 0;
  padding: 0;
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 14px;
}

.container {
  margin: auto;
  padding: 0px 20px;
  max-width: 1230px;
  transform: translate(0, 58px);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1270px;
  margin: auto;
  justify-content: space-between;
  gap: 20px 0px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.title {
  font-size: 48px;
  text-align: center;
  padding: 20px 0px;
  padding-top: 48px;
}

.sub-title {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  padding: 15px 0px;
}

.sub-title::after {
  display: flex;
  content: "";
  width: 50px;
  margin: auto;
  margin-top: 15px;
  border: 1px solid #b90000;
}

.content-link {
  width: fit-content;
  color: #000000;
  text-decoration: none;
}

.content-link:hover {
  text-decoration: underline;
}

.content-title {
  font-weight: 600;
}

.content-sub-title {
  font-size: 14px;
}


.tag-item {
  display: inline-block;
}

.tag-item-link {
  color: #999999;
  font-size: 12px;
  text-decoration: none;
}

.tag-item-link:hover {
  text-decoration: underline;
}

.tag-item-dot {
  font-size: 0.2rem;
  color: #999999;
  transform: translate(0, -2px);
  padding: 0px 2px;
}

/* =============== HAEDER ============== */

.header {
  width: 100%;
  height: 58px;
  min-width: 600px;
  position: fixed;
  display: flex;
  background-color: #000000;
  border-top: 2px solid #303030;
  justify-content: space-between;
  z-index: 100;
}

/* =============== MUSIC PLAYER ============== */

.music-player {
  display: flex;
}

.music-player-icons {
  display: flex;
  width: 120px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.music-player-icon-md {
  font-size: 2.5rem;
  color: #666666;
}

.music-player-icon-sm {
  font-size: 1.2rem;
  color: #666666;
}

/* =============== LOGO ============== */

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  align-self: center;
}

/* =============== NAVIGATION ============== */

.nav {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  color: aliceblue;
  align-items: center;
  margin: 0px 20px;
}

.nav-item {
  color: #d6d6d6;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-item {
  color: #d6d6d6;
}

.nav-link {
  font-weight: 400;
  text-decoration: none;
}

.nav-icon {
  font-size: 1.2rem;
  margin: 0px 15px;
  cursor: pointer;
}

.nav-icon-alt {
  font-size: 2.2rem;
  margin: 0px 15px;
  cursor: pointer;
  color: #666666;
}

.nav-item:hover {
  color: #ffffff;
}

.nav-user {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-search-button {
  background-color: transparent;
  border: none;
}

.nav-search-button-alt {
  background-color: #b90000;
  width: 60px;
  border: none;
}

.nav-search-input {
  width: 100%;
  background-color: transparent;
  color: #e4e4e4;
  font-size: 20px;
  padding: 18px 20px;
  border: none;
  flex: 1;
}

.nav-search-input:focus {
  outline: none;
}

.nav-alt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* =============== HOT SECTION ============== */

.hot-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 15%;
}

.hot-item-image {
  width: 100%;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}

.hot-item-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

/* =============== POPULAR SECTION ============== */

.popular-item {
  display: flex;
  flex: 0 1 33%;
  height: 80px;
  gap: 15px;
  margin: 0px 0px;
}

.popular-item-image {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}

.popular-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*=============== FOOTER ===============*/

.footer {
  transform: translate(0, 58px);
  background: #111111;
  margin-top: 40px;
  margin: auto;
}

.footer-wrapper-ve {
  max-width: 1270px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-evenly;
}

.footer-wrapper-vb {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper-h {
  flex-direction: column;
  max-width: 1270px;
  padding: 20px 20px;
  justify-content: space-evenly;
}

.footer-separator {
  width: 100%;
  border-bottom: 1px solid #303030;
}

.footer-link-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 30px 0px;
}

.footer-link-title {
  color: #666666;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.footer-link {
  color: #ffffff;
  width: fit-content;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-geo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-lang {
  display: flex;
  gap: 10px;
}

.footer-lang-item {
  color: #666666;
  display: inline-block;
  text-decoration: none;
}

.footer-lang-item:hover {
  text-decoration: underline;
}

.footer-lang-item-selected {
  color: #ffffff;
}

.footer-timezone {
  color: #666666;
  width: fit-content;
  text-decoration: none;
}

.footer-timezone:hover {
  text-decoration: underline;
}

.footer-timezone-name {
  color: #ffffff;
}

.footer-link-sm {
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}

.footer-link-sm:hover {
  text-decoration: underline;
}

.footer-text-sm {
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}

.footer-item-dot {
  color: #666666;
  font-size: 0.15rem;
  transform: translate(0px, -2px);
  padding: 0px 2px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-logo-text {
  color: #ffffff;
  font-size: 12px;
}

.footer-logo-image {
  width: 40px;
  padding-left: 40px;
}

/*=============== SEARCH ===============*/

.filler {
  position: absolute;
  background: #f9f9f9;
  top: 184px;
  right: 0px;
  width: 50%;
  height: 210vh;
  z-index: -1;
}

.search-title {
  font-size: 30px;
  color: #222222;
  padding: 30px 0px 0px 0px;
}

.search-menu {
  display: flex;
  gap: 15px;
  padding: 20px 0px;
}

.search-menu-item {
  color: #222222;
  text-decoration: none;
}

.search-menu-item-active {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.search-menu-item-active::after {
  content: "";
  transform: translate(0px, 20px);
  border: 1px solid rgb(167, 0, 0);
}

.search-spacer {
  transform: translate(0px, 58px);
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-content-left {
  flex: 0 1 65%;
  padding: 20px 20px 20px 0px;
  background-color: #ffffff;
}

.search-content-right {
  flex: 0 1 35%;
  display: flex;
  justify-content: center;
  padding: 50px 10px;
  background: #f9f9f9;
  border-left: 1px solid #f0f0f0;
}

.search-ad-text {
  color: #999999;
  font-size: 12px;
}

.search-ad-link {
  color: #999999;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.search-ad-link:hover {
  text-decoration: none;
}

.search-form {
  display: flex;
  width: 100%;
  padding: 10px 0px 20px 0px;
}

.search-input {
  flex: 1;
  height: 25px;
  padding: 5px 8px;
  border: 2px solid #e4e4e4;
  border-radius: 3px;
  border-right: 0px;
  border-radius: 3px 0px 0px 3px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  width: 40px;
  border: 0px;
  background: #ffffff;
  color: #666666;
}

.search-reset-button {
  border: 2px solid #e4e4e4;
  border-left: 0px;
  border-right: 0px;
}

.search-find-button {
  border: 2px solid #e4e4e4;
  border-radius: 0px 3px 3px 0px;
  border-left: 0px;
  transform: translate(-2px, 0px);
}

.search-input-spacer {
  margin: 8px 0px;
  border-right: 1px solid #e4e4e4;
  transform: translate(-1px, 0px);
  z-index: 1;
}

.search-icon {
  font-size: 16px;
}

.search-section {
  margin: 10px 0px;
}

.search-sub-title {
  color: #222222;
  text-decoration: none;
  font-size: 24px;
  width: 100%;
  padding: 10px 0px;
}

.search-sub-title:hover {
  text-decoration: underline;
}

.search-image-block {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.search-image-item {
  flex: 0 1 25%;
  position: relative;
}

.search-image-item img {
  width: 100%;
  height: 100%;
}

.search-image-item-inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  padding: 10px;
  gap: 5px;
  left: 0;
  right: 0;
  align-items: flex-start;
  justify-content: end;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
}

.search-image-item-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.search-image-item-link-sm {
  font-size: 12px;
  font-weight: 300;
}

.search-image-item-link:hover {
  text-decoration: underline;
}

.search-image-item-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.search-more-item {
  width: 100%;
  padding: 5px 0px;
  color: #005399;
  display: flex;
  justify-content: end;
  gap: 3px;
}

.search-more-link {
  color: #005399;
  text-decoration: none;
  text-align: center;
}

.search-more-link:hover {
  text-decoration: underline;
}

.search-more-icon {
  font-size: 12px;
  text-align: center;
  transform: translate(0px, 4px);
}

.search-track {
  width: 100%;
  height: 35px;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
  gap: 20px;
}

.search-track:hover {
  background: #f9f9f9;
}

.search-track-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-track-icon {
  font-size: 32px;
  color: #999999;
}

.search-track-icon:hover {
  font-size: 32px;
  color: #666666;
}

.search-track img {
  height: 100%;
}

.search-track-icon-sm {
  color: #999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.search-track-icon-sm:hover {
  color: #b90000;
}

.search-track-link {
  color: #222222;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  margin: auto;
  margin-left: 0px;
  flex: 1;
  text-align: start;
}

.search-track-link:hover {
  text-decoration: underline;
}

.search-track-link-light {
  color: #222222;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  margin: auto;
  margin-left: 0px;
  flex: 1;
  text-align: start;
}

.search-track-link-light:hover {
  text-decoration: underline;
}

.search-track-time {
  font-size: 14px;
  color: #999999;
  margin: auto;
  margin-right: 0px;
  margin-left: 25px;
  width: 60px;
}

.search-track-right {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}
